<div class="bodyContainer">
  <div class="row topOffer">
    <div class="col-12">
      <div class="">
        <h3>Subscribe now and get 20% off for a whole year!</h3>
      </div>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-6">
      <div>
        <input
          type="text"
          class="searchbar d-none d-md-block"
          placeholder="Search anything"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex align-items-center justify-content-end">
        <span class="material-icons bodyContainerHeaderIcon"> comment </span>
        <span class="material-icons bodyContainerHeaderIcon">
          notifications_active
        </span>
        <span class="bodyContainerHeaderText">
          <p>Mehedi Hasan</p>
          <p style="font-size: 11px">mehedi.hasan4846@gmail.com</p>
        </span>
        <span class="material-icons bodyContainerHeaderIcon">
          account_circle
        </span>
      </div>
    </div>
  </div>

  <div class="row mydeskTime p-3">
    <div class="col-6 head">
      <h3>My Desktime.</h3>
    </div>
    <div class="col-6">
      <div class="d-flex align-items-center justify-content-end selectTime">
        <span class="material-icons"> date_range </span>
        <p>April, 2022</p>
      </div>
    </div>
  </div>

  <div class="row cards p-3">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <p>Productiveness</p>
        <h3>100%</h3>
      </div>
    </div>
  </div>
</div>
