.sidebar {
  background-color: #333c43;
  padding: 20px 10px;
  height: 100vh;
  overflow-y: scroll;
}

.toggleSidebar {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
  position: relative;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
  z-index: 999999999;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #333c43;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(34, 130, 56);
}

.toggleSidebar span {
  color: #eee;
  font-size: 36px;
  cursor: pointer;
  margin-right: 12px;
}

.sidebarHeading {
  margin-bottom: 15px;
  padding: 15px;
}

.headingIcon span {
  font-size: 30px;
}
.sidebarHeading h2 {
  font-size: 28px;
  margin-left: 10px;
}

.menuItems {
  background-color: transparent;
  padding: 15px;
  border-radius: 10px;
  margin-top: 2px;
  transition: 0.3s all ease-in-out;
}

.menuItems .icon {
  color: #cccccc;
  transition: 0.3s all ease-in-out;
}

.menuItems .text {
  width: 170px;
  color: #cccccc;
  font-weight: 600;
  margin-left: 20px;
  transition: 0.3s all ease-in-out;
}

.blank {
  display: none;
  transition: 0.3s all ease-in-out;
}

.menuItems:hover {
  background-color: #51575b;
  padding: 15px;
  border-radius: 10px;
}

.menuItems:hover span {
  color: #fff !important;
}

.menuItems:hover p {
  color: #fff !important;
}

.navController {
  position: absolute;
  top: 0;
  left: 110%;
}
